{{> header}}
<section class="top-banner">
    <div class="top-heading-group">
        <h1 class="top-banner-heading">blog</h1>
        <p class="top-banner-paragraph ">Lorem ipsum dolor sit amet, consectetur</p>
    </div>
    <div class="page-link">
        <a href="#">home</a>
        <a href="#">blog</a>
    </div>
</section>
<section class="blog">
    <div class="blog-posts">
        {{#each posts.blog_posts}}
        <article class="post">
            <div class="image-date">
            <img src={{image}} alt="two people at party">
            <div class="date">
                <h3 class="month">{{month}}</h3>
                <p class="day">{{day}}</p>
            </div>
            </div>
            <h2 class="post-heading">{{title}}</h2>
            <p class="post-content">{{post}}</p>
            <i class="ti-user tags"></i>
            <span>{{tags}}</span>
            <i class="ti-comments comment-span"></i>
            <span>{{comment-amount}} Comments</span>
        </article>
        {{/each}}
    </div>
    <div class="side-bar">
        <div class="search-bar">
          <div class="input-group">
            <input class="form-field search-field" type="text" placeholder="Search Keyword" name="" id="">    
            <button class="icon-btn"><i class="ti-search"></i></button>
          </div>
         <button class="order-btn">search</button>
        </div>
    <div class="categories">
        <h3 class="post-heading">category</h3>
        <ul>
            <li class="blog-category">
                <a href="#">
                    <p>food(3)</p>
                </a>
            </li>
            <li class="blog-category">
                <a href="#">
                    <p>travel(2)</p>
                </a>
            </li>
            <li class="blog-category">
                <a href="#">
                    <p>clothes(1)</p>
                </a>
            </li>
            <li class="blog-category">
                <a href="#">
                    <p>lifestyle(5)</p>
                </a>
            </li>
        </ul>
    </div>
    <div class="recent-post-section">
        <h3 class="post-heading">recent post</h3>
        <div class="recent-post">
            <img src="img/blog/popular-post/post1.jpg" alt="">
            <div class="recent-post-content">
                <h3 class="post-heading">Lorem Ipsum</h3>
                <p>3 Hours ago</p>
            </div>
        </div>
        <div class="recent-post">
            <img src="img/blog/popular-post/post2.jpg" alt="">
            <div class="recent-post-content">
                <h3 class="post-heading">Lorem Ipsum</h3>
                <p>3 Hours ago</p>
            </div>
        </div>
        <div class="recent-post">
            <img src="img/blog/popular-post/post3.jpg" alt="">
            <div class="recent-post-content">
                <h3 class="post-heading">Lorem Ipsum</h3>
                <p>3 Hours ago</p>
            </div>
        </div>
        <div class="recent-post">
            <img src="img/blog/popular-post/post4.jpg" alt="">
            <div class="recent-post-content">
                <h3 class="post-heading">Lorem Ipsum</h3>
                <p>3 Hours ago</p>
            </div>
        </div>
    </div>
    <div class="tag-clouds">
        <h3 class="post-heading">tag clouds</h3>
        <ul>
            <li class="tag-li">
                <a class="tag" href="#">clothes</a>
            </li>
            <li class="tag-li">
                <a class="tag" href="#">travel</a>
            </li>
            <li class="tag-li">
                <a class="tag" href="#">food</a>
            </li>
            <li class="tag-li">
                <a class="tag" href="#">lifestyle</a>
            </li>
            <li class="tag-li">
                <a class="tag" href="#">project</a>
            </li>
        </ul>
    </div>
    <div class="instagram-feeds">
      <h3 class="post-heading">instagram feeds</h3>  
      <ul class="feeds">
          <li class="feed">
              <a href="#">
                  <img src="img/instagram/widget-i1.png" alt="">
              </a>
          </li>
          <li class="feed">
              <a href="#">
                  <img src="img/instagram/widget-i2.png" alt="">
              </a>
          </li>
          <li class="feed">
              <a href="#">
                  <img src="img/instagram/widget-i3.png" alt="">
              </a>
          </li>
          <li class="feed">
              <a href="#">
                  <img src="img/instagram/widget-i4.png" alt="">
              </a>
          </li>
          <li class="feed">
              <a href="#">
                  <img src="img/instagram/widget-i5.png" alt="">
              </a>
          </li>
          <li class="feed">
              <a href="#">
                  <img src="img/instagram/widget-i6.png" alt="">
              </a>
          </li>
      </ul>
    </div>
    <div class="search-bar">
        <h3 class="post-heading">newsletter</h3>
        <div class="input-group">
         <input class="form-field search-field" type="text" placeholder="Enter email" name="" id="">    
        </div>
        <button class="order-btn">subscribe</button>
    </div>
</div>
</section>
{{> footer}}